@page
@model WebApplicatieWebdev.Pages.Reversi.DashboardModel
@{
    ViewData["Title"] = "Contact Developer";
}

<div class="container">
    <div class="row dashboard-header">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Host Game</button>
            <button type="button" class="btn btn-default">Join Random Game</button>
            <button type="button" class="btn btn-default">Highscores</button>
        </div>
    </div>
    <div class="row dashboard-information">
        PLAYER INFORMATION
    </div>
    <div class="row bg-light">
        <div class="col bg-dark">
            PLAYER GAMES
        </div>
        <div class="col bg-dark">
            OPEN LOBBY
        </div>
    </div>
    <div class="row dashboard-footer">
        FOOTER (GLOBAL INFORMATION)
    </div>
</div>