@page

@using Microsoft.AspNetCore.Components;
@inject NavigationManager NavigationManager

@model WebApplicatieWebdev.Pages.Reversi.DashboardModel
@{
    ViewData["Title"] = "Contact Developer";
}

<div class="container">
    <div class="row dashboard-header">
        <div class="btn-group" role="group" aria-label="...">
            <a href="/Reversi/HostGame"><button type="button" class="btn btn-default" onclick="toHostGame()">Host Game</button></a>
            <button type="button" class="btn btn-default">Join Random Game</button>
            <button type="button" class="btn btn-default">Highscores</button>
        </div>
    </div>
    <div class="row dashboard-information">
        PLAYER INFORMATION
    </div>
    <div class="row bg-light">
        <div class="col bg-dark">
            PLAYER GAMES
        </div>
        <div class="col bg-dark">
            OPEN LOBBY
        </div>
    </div>
    <div class="row dashboard-footer">
        FOOTER (GLOBAL INFORMATION)
    </div>
</div>

<script>
    function toHostGame(){
        DotNet.invokeMethodAsync("WebDev.Web.UI", "NavigationManager.NavigateTo", "/Reversi/HostGame");
    }
</script>