<table id="game-board">
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><div class="tile black"></div></td>
        <td></td>
        <td><div class="tile white"></div></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><div class="tile black"></div></td>
        <td><div class="tile black"></div></td>
        <td><div class="tile black"></div></td>
        <td><div class="tile black"></div></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><div class="tile white"></div></td>
        <td><div class="tile white"></div></td>
        <td><div class="tile black"></div></td>
        <td><div class="tile black"></div></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><div class="tile black"></div></td>
        <td><div class="tile white"></div></td>
        <td></td>
        <td><div class="tile black"></div></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>